// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    min-height: 110vh;
    background-color: #000000;
    background-image: linear-gradient(135deg, #000000 0%, #c4e0e5 100%);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 50px;
}

.card{
    background-color: #ffffff;
    background-image: linear-gradient(135deg, #ffffff 0%, #c4e0e5 100%);
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-top: 20px;
}

label {
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

.btn-success {
    background-color: #ffffff;
    color: #000000;

    border-color: #000000;
}
.btn-primary {
    background-color: #000000;
    color: #ffffff;

    border-color: #000000;
}

.btn {
    border-radius: 10px;
}

.fa-star {
    color: #000000;
  }

  form.bookmark-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 150px;
  }